.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header .container {
  display: flex;
  padding: .5rem 0;
  align-items: center;
}

.page-logo {
  margin-right: 1rem;
}

.app-header img {
  max-width: 10rem;
  height: 4.2rem;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}